.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
li{
  color: #ffffff;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar{
  display: flex;
  flex-direction: row;
  background-color: #3d0101;
  width: 100%;
  justify-content: space-around;

}
.imgLogo{
  width: 3rem;
  height: 3rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.itemNav{
  justify-content: space-around;
  align-content: space-around;
  list-style: none;
  display: flex;
  flex-direction: row;
}
li{
  padding-left: 1rem;
}
a{
  color: #ffffff;
  text-decoration: none;
}
h1{
  font-size: 10rem;
  font-weight: 300;
  text-align: center;
}
.cartIcon{
  width: 2rem;
  height: 2rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.contentNav{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.productList{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.item{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  background-image: url(media/corchos.jpg);
  max-width: 50%;

}
  .item img{
    max-width: 50%;
    align-self: center;

  }
.contenedorList{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 1rem 1rem 1rem 1rem;
  max-height: 50%;
  align-content: center;
  justify-content: center;
}